.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

node_modules/
get_sentiment_python/venv/bin
get_sentiment_python/venv/lib
get_sentiment_python/data
get_sentiment_python/lib
search_songs/search_bar/.env